#main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #111;
}

.main-imagen-contenedor {
  position: relative;
  max-height: 80%;
  align-self: flex-end;
  overflow: hidden;
}

.main-imagen {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  #main {
    flex-direction: column-reverse;
  }
  .main-imagen-contenedor {
    align-self: center;
    max-height: 60%;
  }
}
