#header {
  color: var(--white1);
  padding: 0 20px;
  align-self: center;
}

.header-h1 {
  font-size: 3rem;
  width: 100%;
}

.header-p {
  position: relative;
  margin-top: 10px;
  font-size: 1.5rem;
  display: inline-block;
}
.header-p::before {
  content: "";
  position: absolute;
  margin-left: 2px;
  height: 100%;
  opacity: 0.8;
  width: 2px;
  left: 100%;
  background-color: var(--white1);
  animation: parpadeo 0.5s infinite alternate;
}
@keyframes parpadeo {
  0% {
    opacity: 0.8;
  }
  49% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) and (min-height: 600px) {
}
