#main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #111;
}

.main-imagen-contenedor {
  border: 3px solid #f00;
  height: 70%;
  max-height: 90%;
  width: 45%;
  align-self: flex-end;
}

.main-imagen {
  height: 100%;
  width: 100%;
}
