.container {
  position: relative;
  height: max-content;
  min-height: 500px;
  
}
.listProyects{
margin: auto;
max-width: 1100px;
}

.lineTop {
  height: 10px;
  width: 60%;
  border-radius: 10px;
  background-color: black;
  left: 0;
  margin: 30px 0 20px 0;
}
.lineBottom {
  height: 10px;
  width: 60%;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  right: 0;
}
