.container {
  position: relative;
  margin: 10px 10px;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
}
.features {
  display: flex; 
  border: 2px solid #000;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.descriptionContainer {
  height: 120px;
  display: flex;
  align-items: center;

}
.description {
  color: #666;
  text-align: justify;
}
.buttonContainer {
  display: flex;
}
.button {
  font-size: 17px;
  padding: 0 10px;
  cursor: pointer;
  color: #000;
  transition: transform linear .1s;
}
.button:hover{
  transform: scale(1.1);
  color: #000;
}
.buttonText {
  margin: 0;
}
.sliderContainer {
  position: relative;
  display: flex;
  height: 300px;
  width: 90%;
  max-width: 500px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
}

.imgContainer {
  cursor: grab;
  position: absolute;
  width: 80%;
  height: 90%;
  background: white;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px #0007);
}

.img {
  pointer-events: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
